<style>
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainmenubtn {
    background-color: #0e9c9a;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    padding:10px 15px;
    width: 300px;
    margin-top:20px;
    border-radius: 5px;
}
.mainmenubtn:hover {
    background-color: #0e9c9a;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: rgb(222, 222, 222);
    min-width: 200px;
}
.dropdown-child a {
    color: #464646;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
</style>



    <div class="wrapper">
        <div class="dropdown">
            <button class="mainmenubtn">Select Your State</button>
            <div class="dropdown-child">
                {% for collection in collections %}
                <a href="{{collection.url}}">{{ collection.title }}</a>
               {% endfor %}
            </div>
          </div>
    </div>

    {% schema %}
    {
        "name": "Collections Dropdown",
        "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection ",
            "info": "Choose a collection"
         }
        ],
        "presets":[
        {
            "name": "Collection Dropdown",
            "category": "Custom"
        }
        ]
    }
    {% endschema %}